body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
}

header {
  background-color: #2576a5;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

header h1 {
  text-align: center;
  flex: 1;
}

footer {
  background-color: #2576a5;
  color: #fff;
  text-align: center;
  padding: 3px;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

@media print {
  /* hide the download button when printing */
  #download-button {
    display: none;
  }
}

button {
  width: 250px;
  height: 50px;
  background-color: #fffd9f;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #81bdd8;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.title {
  text-align: center;
  font-weight: bold;
}

.logo {
  width: 65px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 10px;
}

.logo2 {
  width: 75px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.my-button {
  width: 250px;
  height: 50px;
  background-color: rgb(255, 220, 19);
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.my-button:hover {
  background-color: #81bdd8;
}

.response {
  background-color: #e6f2ff;
  border: 2px solid black;
  padding: 20px;
  margin: 0 auto;
  width: 800px;
}

.dynamic-response {
  background-color: lightblue;
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.hidden {
  display: none;
}

main {
  margin-bottom: 20px;
}

.search-form {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-form form {
  display: inline-block;
  margin-bottom: 20px;
}

.search-form input[type="text"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

.search-form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.centered-h1 {
  text-align: center;
}


.textarea-container {
  width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.about-text {
  text-align: left;
}

#player-info-table {
  width: 100%;
  border-collapse: collapse;
}

#table-headers {
  background-color: #f2f2f2;
}

#table-headers th {
  padding: 10px;
  font-weight: bold;
}

#table-body td {
  padding: 10px;
  border-bottom: 1px solid #000000;
}

#table-body tr:nth-child(even) {
  background-color: #000000;
}

#player-info-table {
  width: 100%;
  border-collapse: collapse;
}

#player-info-table th,
#player-info-table td {
  padding: 10px;
  border: 1px solid #000000;
}

#player-info-table th {
  background-color: #ae0000;
  color: #fff;
  font-weight: bold;
}

#player-info-table tr:nth-child(even) {
  background-color: #f2f2f2;
}